@media screen and (min-width:700px) {
    .week-schedule {
        padding-top: 100px;
        position: relative;
        display: grid;
        grid-gap: 0;
        grid-template-rows:
        [tracks] auto
        [time-0]    3em
        [time-30]   3em
        [time-100]  3em
        [time-130]  3em
        [time-200]  3em
        [time-230]  3em
        [time-300]  3em
        [time-330]  3em
        [time-400]  3em
        [time-430]  3em
        [time-500]  3em
        [time-530]  3em
        [time-600]  3em
        [time-630]  3em
        [time-700]  3em
        [time-730]  3em
        [time-800]  3em
        [time-830]  3em
        [time-900]  3em
        [time-930]  3em
        [time-1000] 3em
        [time-1030] 3em
        [time-1100] 3em
        [time-1130] 3em
        [time-1200] 3em
        [time-1230] 3em
        [time-1300] 3em
        [time-1330] 3em
        [time-1400] 3em
        [time-1430] 3em
        [time-1500] 3em
        [time-1530] 3em
        [time-1600] 3em
        [time-1630] 3em
        [time-1700] 3em
        [time-1730] 3em
        [time-1800] 3em
        [time-1830] 3em
        [time-1900] 3em
        [time-1930] 3em
        [time-2000] 3em
        [time-2030] 3em
        [time-2100] 3em
        [time-2130] 3em
        [time-2200] 3em
        [time-2230] 3em
        [time-2300] 3em
        [time-2330] 3em
        [time-2400] 3em;
        grid-template-columns:
        [times] 4em
        [track-1-start] 1fr
        [track-1-end track-2-start] 1fr
        [track-2-end track-3-start] 1fr
        [track-3-end track-4-start] 1fr
        [track-4-end track-5-start] 1fr
        [track-5-end track-6-start] 1fr
        [track-6-end track-7-start] 1fr
        [track-7-end];
    }
}