@media screen and (min-width:700px) {
    .week-schedule {
        padding-top: 100px;
        position: relative;
        display: grid;
        grid-gap: 0;
        grid-template-rows:
        [tracks] auto
        [time-0] minmax(3em, auto)
        [time-30] minmax(3em, auto)
        [time-100] minmax(3em, auto)
        [time-130] minmax(3em, auto)
        [time-200] minmax(3em, auto)
        [time-230] minmax(3em, auto)
        [time-300] minmax(3em, auto)
        [time-330] minmax(3em, auto)
        [time-400] minmax(3em, auto)
        [time-430] minmax(3em, auto)
        [time-500] minmax(3em, auto)
        [time-530] minmax(3em, auto)
        [time-600] minmax(3em, auto)
        [time-630] minmax(3em, auto)
        [time-700] minmax(3em, auto)
        [time-730] minmax(3em, auto)
        [time-800] minmax(3em, auto)
        [time-830] minmax(3em, auto)
        [time-900] minmax(3em, auto)
        [time-930] minmax(3em, auto)
        [time-1000] minmax(3em, auto)
        [time-1030] minmax(3em, auto)
        [time-1100] minmax(3em, auto)
        [time-1130] minmax(3em, auto)
        [time-1200] minmax(3em, auto)
        [time-1230] minmax(3em, auto)
        [time-1300] minmax(3em, auto)
        [time-1330] minmax(3em, auto)
        [time-1400] minmax(3em, auto)
        [time-1430] minmax(3em, auto)
        [time-1500] minmax(3em, auto)
        [time-1530] minmax(3em, auto)
        [time-1600] minmax(3em, auto)
        [time-1630] minmax(3em, auto)
        [time-1700] minmax(3em, auto)
        [time-1730] minmax(3em, auto)
        [time-1800] minmax(3em, auto)
        [time-1830] minmax(3em, auto)
        [time-1900] minmax(3em, auto)
        [time-1930] minmax(3em, auto)
        [time-2000] minmax(3em, auto)
        [time-2030] minmax(3em, auto)
        [time-2100] minmax(3em, auto)
        [time-2130] minmax(3em, auto)
        [time-2200] minmax(3em, auto)
        [time-2230] minmax(3em, auto)
        [time-2300] minmax(3em, auto)
        [time-2330] minmax(3em, auto)
        [time-2400] minmax(3em, auto);
        grid-template-columns:
        [times] 4em
        [track-1-start] 1fr
        [track-1-end track-2-start] 1fr
        [track-2-end track-3-start] 1fr
        [track-3-end track-4-start] 1fr
        [track-4-end track-5-start] 1fr
        [track-5-end track-6-start] 1fr
        [track-6-end track-7-start] 1fr
        [track-7-end];
    }
}