{% extends "base.html" %}

{% block main_content %}

    <div class="top-bar">
        <div class="container" style="display: flex">
            <h2>{{ date }} Schedule</h2>
            <div class="openbtn-container">
                <button class="openbtn" onclick="openNav()">☰ Open Editor</button>
            </div>
        </div>
    </div>
    <div class="sidebar" id="mySidebar" style="{% if error_display %}width: 400px{% else %}width: 0{% endif %}">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a class="back" href="/calendar">Back to Month</a>
        <br>
        <form action="" method="post" id="form">
            {% csrf_token %}
            Event Name:<input type="text" name="event" id="event"><br><br>
            Begin At:<br>
            Hour:<select name="begin_hr" id="begin_hr">
            <option>  </option>
            <option value="0"> 0 </option>
            <option value="1"> 1 </option>
            <option value="2"> 2 </option>
            <option value="3"> 3 </option>
            <option value="4"> 4 </option>
            <option value="5"> 5 </option>
            <option value="6"> 6 </option>
            <option value="7"> 7 </option>
            <option value="8"> 8 </option>
            <option value="9"> 9 </option>
            <option value="10"> 10 </option>
            <option value="11"> 11 </option>
            <option value="12"> 12 </option>
            <option value="13"> 13 </option>
            <option value="14"> 14 </option>
            <option value="15"> 15 </option>
            <option value="16"> 16 </option>
            <option value="17"> 17 </option>
            <option value="18"> 18 </option>
            <option value="19"> 19 </option>
            <option value="20"> 20 </option>
            <option value="21"> 21 </option>
            <option value="22"> 22 </option>
            <option value="23"> 23 </option>
        </select>
            Minutes: <select name="begin_min" id="begin_min">
            <option selected disabled>  </option>
            <option value="00"> 00 </option>
            <option value="30"> 30 </option>
        </select><br><br>
            End At:<br>
            Hour:<select name="end_hr" id="end_hr">
            <option>  </option>
            <option value="0"> 0 </option>
            <option value="1"> 1 </option>
            <option value="2"> 2 </option>
            <option value="3"> 3 </option>
            <option value="4"> 4 </option>
            <option value="5"> 5 </option>
            <option value="6"> 6 </option>
            <option value="7"> 7 </option>
            <option value="8"> 8 </option>
            <option value="9"> 9 </option>
            <option value="10"> 10 </option>
            <option value="11"> 11 </option>
            <option value="12"> 12 </option>
            <option value="13"> 13 </option>
            <option value="14"> 14 </option>
            <option value="15"> 15 </option>
            <option value="16"> 16 </option>
            <option value="17"> 17 </option>
            <option value="18"> 18 </option>
            <option value="19"> 19 </option>
            <option value="20"> 20 </option>
            <option value="21"> 21 </option>
            <option value="22"> 22 </option>
            <option value="23"> 23 </option>

        </select>
            Minutes: <select name="end_min" id="end_min">
            <option selected disabled>  </option>
            <option value="00"> 00 </option>
            <option value="30"> 30 </option>
        </select><br><br>
            Description: <br><textarea name="description" id="description" rows="4" cols="50"></textarea><br><br>
            Repeat:
            <select name="repeat" id="repeat">
                <option value="once">Once</option>
                <option value="daily">Daily</option>
                <option value="weekly">Weekly</option>
                <option value="monthly">Monthly</option>
            </select>
            Repeat End Date:<input type="date" name="repeat_end" id="repeat_end"><br><br>

            <button type="submit" name="create" value="Create Event">Create Event</button>

            <button type="submit" name="delete" value="Delete Event">Delete Event</button>
            <br><br>
        </form>
        {% for message in messages %}
            <p id="messages">{{ message }}</p>
        {% endfor %}
    </div>

    <div class="schedule" aria-labelledby="schedule-heading" id="table">

        <div class="eventspace">

        </div>

    </div>


    <script>
        function createTimeSlots() {
            const scheduleElement = document.getElementById('table');
            for (let hour = 0; hour <= 24; hour++) {
                for (let minute = 0; minute < 60; minute += 30) {
                    let formattedHour = hour.toString().padStart(2, '0');
                    let formattedMinute = minute === 0 ? '00' : '30';
                    let time;

                    if (hour === 0 && minute === 0) {
                        time = "0";
                    } else if (hour === 0) {
                        time = "30";
                    } else {
                        time = hour + formattedMinute;
                    }

                    let displayTime = `${formattedHour}:${formattedMinute}`;

                    let timeSlot = document.createElement('h2');

                    timeSlot.className = 'time-slot';
                    timeSlot.style.gridRow = `time-${time}`;
                    timeSlot.textContent = displayTime;

                    if (minute === 30) {
                        timeSlot.style.visibility = 'hidden';
                    }

                    let separator = document.createElement('div');
                    separator.className = 'time-slot-separator';
                    separator.style.gridRow = `time-${time}`;
                    separator.style.gridColumn = 'track-1 / track-4';
                    separator.style.zIndex = "1";

                    if (hour === 24 && minute === 30) {
                        separator.style.visibility = "hidden";
                    }

                    scheduleElement.appendChild(timeSlot);
                    scheduleElement.appendChild(separator);
                    }
                }
        }

        function openNav() {
            document.getElementById("mySidebar").style.width = "400px";
            {#document.getElementById("main").style.marginLeft = "250px";#}
        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            {#document.getElementById("main").style.marginLeft= "0";#}
        }

        function display_event(label) {
            document.getElementById("mySidebar").style.width = "400px";
            const div_id = label.parentElement.parentElement.id;

            document.getElementById('event').value = events[div_id]['event'];
            document.getElementById('begin_hr').value = ~~(events[div_id]['beginning']/100);
            if (events[div_id]['beginning']%100 === 0){
                document.getElementById('begin_min').value = '00';
            }
            else{
                document.getElementById('begin_min').value = events[div_id]['beginning']%100;
            }
            document.getElementById('end_hr').value = ~~(events[div_id]['end']/100);
            if (events[div_id]['end']%100 === 0){
                document.getElementById('end_min').value = '00';
            }
            else{
                document.getElementById('end_min').value = events[div_id]['end']%100;
            }
            document.getElementById('description').value = events[div_id]['description'];

        }

        const schedule = document.querySelector(".schedule");
        let cur_event = "";
        const events = JSON.parse('{{ events|escapejs }}');
        for (var i=0; i < events.length; i++){
            const time_diff = ((Math.floor(events[i]['end'] / 100) * 60 + events[i]['end'] % 100) - (Math.floor(events[i]['beginning'] / 100) * 60 + events[i]['beginning'] % 100))/60
            {#console.log(time_diff)#}

            cur_event = `<div id='${i}' class="session session-8 track-1" style="grid-column: track-1; grid-row: span time-${events[i]['beginning']} / time-${events[i]['end']}; z-index: 2;">
            <h3 class="session-title"><a onclick="display_event(this)">${events[i]['event']}</a></h3>
            <span class="session-time">${~~(events[i]['beginning']/100)}:${('0'+events[i]['beginning']%100).slice(-2)} - ${~~(events[i]['end']/100)}:${('0'+events[i]['end']%100).slice(-2)}</span>
            <span id='${i}description' class="session-presenter" >${events[i]['description']}</span>
            </div>`;
            schedule.insertAdjacentHTML('beforeend', cur_event);
            if (time_diff === 0.5) {
                document.getElementById(i.toString()+"description").style.height = "0";
            } else {
                document.getElementById(i.toString()+"description").style.minHeight = (time_diff*6-2).toString()+"em";
            }

        }

        createTimeSlots();

    </script>
{% endblock %}