{% extends "base.html" %}
{% load static %}

{% block main_content %}

    <div class="top-bar">
        <div class="container" style="display: flex">
            {% if valid_request != 'no_need' %}
            <h2 id="prev" onclick="prevDay('{{ date }}')"><<</h2>
            {% if friend_username != 'default' %}
                <h2 id="date-label">{{ friend_username }}'s {{ date }} Schedule</h2>
            {% else %}
                <h2 id="date-label">{{ date }} Schedule</h2>
            {% endif %}
            <h2 id="next" onclick="nextDay('{{ date }}')">>></h2>

            <div class="openbtn-container">
                <button class="openbtn" onclick="requestDownload()">Download Schedule</button>
            </div>
            <div class="openbtn-container">
                <button class="openbtn" onclick="openNav()">☰ Open Editor</button>
            </div>
            {% else %}
                <h2 id="prev" onclick="prevDay('{{ date }}')"><<</h2>
                <h2 id="date-label">{{ friend_username }}'s {{ date }} Schedule</h2>
                <h2 id="next" onclick="nextDay('{{ date }}')">>></h2>
                <div class="openbtn-container">
                    <button class="openbtn" onclick="requestDownload()">Download Schedule</button>
                </div>
                <div class="openbtn-container">
                    <button class="openbtn" onclick="openNav()">☰ Open Viewer</button>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="sidebar" id="mySidebar" style="{% if valid_request %}width: 0{% else %}width: 400px{% endif %}">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        {% if error_display != "no_need" %}
        <a class="back" href="/calendar/week">Back to Week</a>
        {% else %}
        <a class="back" href="/{{ friend_username }}/calendar/week">Back to Week</a>
        {% endif %}
        <br>
        <form action="" method="post" id="form">
            {% csrf_token %}
            Event Name:<input type="text" name="event" id="event"><br><br>
            Begin At:<br>
            Hour:<select name="begin_hr" id="begin_hr">
            <option>  </option>
            <option value="0"> 0 </option>
            <option value="1"> 1 </option>
            <option value="2"> 2 </option>
            <option value="3"> 3 </option>
            <option value="4"> 4 </option>
            <option value="5"> 5 </option>
            <option value="6"> 6 </option>
            <option value="7"> 7 </option>
            <option value="8"> 8 </option>
            <option value="9"> 9 </option>
            <option value="10"> 10 </option>
            <option value="11"> 11 </option>
            <option value="12"> 12 </option>
            <option value="13"> 13 </option>
            <option value="14"> 14 </option>
            <option value="15"> 15 </option>
            <option value="16"> 16 </option>
            <option value="17"> 17 </option>
            <option value="18"> 18 </option>
            <option value="19"> 19 </option>
            <option value="20"> 20 </option>
            <option value="21"> 21 </option>
            <option value="22"> 22 </option>
            <option value="23"> 23 </option>
        </select>
            Minutes: <select name="begin_min" id="begin_min">
            <option selected disabled>  </option>
            <option value="00"> 00 </option>
            <option value="30"> 30 </option>
        </select><br><br>
            End At:<br>
            Hour:<select name="end_hr" id="end_hr">
            <option>  </option>
            <option value="0"> 0 </option>
            <option value="1"> 1 </option>
            <option value="2"> 2 </option>
            <option value="3"> 3 </option>
            <option value="4"> 4 </option>
            <option value="5"> 5 </option>
            <option value="6"> 6 </option>
            <option value="7"> 7 </option>
            <option value="8"> 8 </option>
            <option value="9"> 9 </option>
            <option value="10"> 10 </option>
            <option value="11"> 11 </option>
            <option value="12"> 12 </option>
            <option value="13"> 13 </option>
            <option value="14"> 14 </option>
            <option value="15"> 15 </option>
            <option value="16"> 16 </option>
            <option value="17"> 17 </option>
            <option value="18"> 18 </option>
            <option value="19"> 19 </option>
            <option value="20"> 20 </option>
            <option value="21"> 21 </option>
            <option value="22"> 22 </option>
            <option value="23"> 23 </option>

        </select>
            Minutes: <select name="end_min" id="end_min">
            <option selected disabled>  </option>
            <option value="00"> 00 </option>
            <option value="30"> 30 </option>
        </select><br><br>
        Event Colour: <input type="color" id="hex_color" name="hex_color" value="#11be7c"><br><br>
        Hide from friends: <input id="is_private" name="is_private" type="checkbox" style="vertical-align: text-bottom"><br><br>
            Description: <br><textarea name="description" id="description" rows="4" cols="50"></textarea><br><br>
            {% if error_display != "no_need" %}
            Repeat:
            <select name="repeat" id="repeat">
                <option value="once">Once</option>
                <option value="daily">Daily</option>
                <option value="weekly">Weekly</option>
                <option value="monthly">Monthly</option>
            </select>
            Repeat End Date:<input type="date" name="repeat_end" id="repeat_end"><br><br>

            <button type="submit" name="create" value="Create Event">Create Event</button>

            <button type="submit" name="delete" value="Delete Event">Delete Event</button>
            <br><br>
            {% endif %}
        </form>
        {% for message in messages %}
            <p id="messages">{{ message }}</p>
        {% endfor %}
    </div>

    <div class="schedule" aria-labelledby="schedule-heading" id="table"></div>

    <script src="{% static 'js/calendar_day.js' %}"></script>

    <script>
        const events = JSON.parse('{{ events|escapejs }}');

        function rowToTime(row) {
            return (Math.floor((row-1)/2) * 100 + ((row-1)%2) * 30).toString();
        }

        document.addEventListener('DOMContentLoaded', function() {
            let isMouseDown = false;
            let startRow = 0;
            let currentRow = 0;
            const grid = document.getElementById('table');
            const schedule = document.querySelector(".schedule");
            let new_event = "";

            function getGridPosition(e) {
                const gridRect = grid.getBoundingClientRect();
                const x = e.clientX - gridRect.left;
                const y = e.clientY - gridRect.top - 100;
                const totalRows = 49;
                const totalCols = 1;

                const colWidth = gridRect.width / totalCols;
                const rowHeight = (gridRect.height - 100) / totalRows;
                console.log(gridRect.height)

                const col = Math.ceil(x / colWidth);
                const row = Math.min(Math.max(Math.ceil(y / rowHeight), 1), 48);
                return {row: row, col: col};
            }

            grid.addEventListener('mousedown', function(e) {
                if (e.button === 2 || e.target.classList.contains('session-display')) {
                    console.log(e.target.classList);
                    return;
                }
                isMouseDown = true;
                startRow = getGridPosition(e).row;
                let downPos = getGridPosition(e);
                new_event = `<div id='new_event' class="session session-8 track-1" style="grid-column: track-1; grid-row: span time-${rowToTime(downPos.row)} / time-${rowToTime(downPos.row+1)}; z-index: 2; background-color:#11be7c; opacity: 0.9">
                <h3 class="session-title"><a onclick="displayInPanel(this)">New Event</a></h3>
                <span class="session-time"></span>
                <span id='description' class="session-presenter" ></span>
                </div>`;
                schedule.insertAdjacentHTML('beforeend', new_event);
                console.log('Mouse down at Row: ' + downPos.row + ', Column: ' + downPos.col);

                function mouseUpHandler(e) {
                    if (e.button === 2 || e.target.classList.contains('session-display')) {
                        return;
                    }
                    isMouseDown = false;
                    const upPos = getGridPosition(e);
                    console.log('Mouse up at Row: ' + upPos.row + ', Column: ' + upPos.col, ", " + parseInt(getComputedStyle(grid).paddingTop));

                    grid.removeEventListener('mouseup', mouseUpHandler);
                }

                grid.addEventListener('mouseup', mouseUpHandler);
            });

            grid.addEventListener('mousemove', function(e) {
                if (isMouseDown) {
                    currentRow = getGridPosition(e).row;
                    let newEvent = document.getElementById('new_event');
                    if (currentRow === startRow) {
                        newEvent.style.gridRow = `span time-${rowToTime(startRow)} / time-${rowToTime(currentRow+1)}`;
                        newEvent.querySelector('#description').style.height = "0";
                        newEvent.querySelector('.session-time').textContent = `${~~(parseInt(rowToTime(startRow))/100)}:${('0'+rowToTime(startRow).slice(-2)).slice(-2)} - ${~~(parseInt(rowToTime(currentRow+1))/100)}:${('0'+rowToTime(currentRow+1).slice(-2)).slice(-2)}`;
                    } else if (currentRow >= startRow && currentRow <= 49) {
                        newEvent.style.gridRow = `span time-${rowToTime(startRow)} / time-${rowToTime(currentRow+1)}`;
                        newEvent.querySelector('.session-time').textContent = `${~~(parseInt(rowToTime(startRow))/100)}:${('0'+rowToTime(startRow).slice(-2)).slice(-2)} - ${~~(parseInt(rowToTime(currentRow+1))/100)}:${('0'+rowToTime(currentRow+1).slice(-2)).slice(-2)}`;
                    } else if (currentRow < startRow) {
                        newEvent.style.gridRow = `span time-${rowToTime(currentRow)} / time-${rowToTime(startRow+1)}`;
                        newEvent.querySelector('.session-time').textContent = `${~~(parseInt(rowToTime(currentRow))/100)}:${('0'+rowToTime(currentRow).slice(-2)).slice(-2)} - ${~~(parseInt(rowToTime(startRow+1))/100)}:${('0'+rowToTime(startRow+1).slice(-2)).slice(-2)}`;
                    }

                }
            });
        });
        loadDailySessions(events);
    </script>

{% endblock %}