{% extends "base.html" %}
{% load static %}

{% block main_content %}

    <div class="top-bar">
        <div class="container" style="display: flex">
            {% if error_display != 'no_need' %}
                <h2 id="prev" onclick="prevWeek('{{ date }}')"><<</h2>
                <h2 id="date-label">{{ date|slice:":-3" }} Schedule</h2>
                <h2 id="next" onclick="nextWeek('{{ date }}')">>></h2>
                <div class="openbtn-container">
                    <button class="openbtn" onclick="openNav()">☰ Open Editor</button>
                </div>
            {% else %}
                <h2 id="prev" onclick="prevWeek('{{ date }}')"><<</h2>
                <h2 id="date-label">{{ friend_username }}'s {{ date|slice:":-3" }} Schedule</h2>
                <h2 id="next" onclick="nextWeek('{{ date }}')">>></h2>
                <div class="openbtn-container">
                    <button class="openbtn" onclick="openNav()">☰ Open Viewer</button>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="sidebar" id="mySidebar" style="{% if error_display %}width: 400px{% else %}width: 0{% endif %}">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        {% if error_display != "no_need" %}
        <a class="back" href="/calendar">Back to Month</a>
        {% else %}
        <a class="back" href="/{{ friend_username }}/calendar">Back to Month</a>
        {% endif %}
        <br>
        <form action="" method="post" id="form">
            {% csrf_token %}
            Event Name:<input type="text" name="event" id="event"><br><br>
            Date:<input type="date" name="date" id="start_date"><br><br>
            Begin At:<br>
            Hour:<select name="begin_hr" id="begin_hr">
            <option>  </option>
            <option value="0"> 0 </option>
            <option value="1"> 1 </option>
            <option value="2"> 2 </option>
            <option value="3"> 3 </option>
            <option value="4"> 4 </option>
            <option value="5"> 5 </option>
            <option value="6"> 6 </option>
            <option value="7"> 7 </option>
            <option value="8"> 8 </option>
            <option value="9"> 9 </option>
            <option value="10"> 10 </option>
            <option value="11"> 11 </option>
            <option value="12"> 12 </option>
            <option value="13"> 13 </option>
            <option value="14"> 14 </option>
            <option value="15"> 15 </option>
            <option value="16"> 16 </option>
            <option value="17"> 17 </option>
            <option value="18"> 18 </option>
            <option value="19"> 19 </option>
            <option value="20"> 20 </option>
            <option value="21"> 21 </option>
            <option value="22"> 22 </option>
            <option value="23"> 23 </option>
        </select>
            Minutes: <select name="begin_min" id="begin_min">
            <option selected disabled>  </option>
            <option value="00"> 00 </option>
            <option value="30"> 30 </option>
        </select><br><br>
            End At:<br>
            Hour:<select name="end_hr" id="end_hr">
            <option>  </option>
            <option value="0"> 0 </option>
            <option value="1"> 1 </option>
            <option value="2"> 2 </option>
            <option value="3"> 3 </option>
            <option value="4"> 4 </option>
            <option value="5"> 5 </option>
            <option value="6"> 6 </option>
            <option value="7"> 7 </option>
            <option value="8"> 8 </option>
            <option value="9"> 9 </option>
            <option value="10"> 10 </option>
            <option value="11"> 11 </option>
            <option value="12"> 12 </option>
            <option value="13"> 13 </option>
            <option value="14"> 14 </option>
            <option value="15"> 15 </option>
            <option value="16"> 16 </option>
            <option value="17"> 17 </option>
            <option value="18"> 18 </option>
            <option value="19"> 19 </option>
            <option value="20"> 20 </option>
            <option value="21"> 21 </option>
            <option value="22"> 22 </option>
            <option value="23"> 23 </option>

        </select>
            Minutes: <select name="end_min" id="end_min">
            <option selected disabled>  </option>
            <option value="00"> 00 </option>
            <option value="30"> 30 </option>
        </select><br><br>
            Description: <br><textarea name="description" id="description" rows="4" cols="50"></textarea><br><br>
            {% if error_display != "no_need" %}
            Repeat:
            <select name="repeat" id="repeat">
                <option value="once">Once</option>
                <option value="daily">Daily</option>
                <option value="weekly">Weekly</option>
                <option value="monthly">Monthly</option>
            </select>
            Repeat End Date:<input type="date" name="repeat_end" id="repeat_end"><br><br>

            <button type="submit" name="create" value="Create Event">Create Event</button>

            <button type="submit" name="delete" value="Delete Event">Delete Event</button>
            <br><br>
            {% endif %}
        </form>
        {% for message in messages %}
            <p id="messages">{{ message }}</p>
        {% endfor %}
    </div>


    <div class="week-schedule" aria-labelledby="schedule-heading" id="table"></div>

    <script src="{% static 'js/calendar_day.js' %}"></script>
    <script src="{% static 'js/calendar_week.js' %}"></script>
    <script>
        const events = JSON.parse('{{ events|escapejs }}');
        loadWeeklySessions(events, '{{ date|escapejs }}');
    </script>

{% endblock %}