<!DOCTYPE HTML>
<html>
<head>
    <title>Bob Zheng</title>
</head>
<body>
    <h1>My First Page</h1>
    <p>This is my first page</p>
    <a href="#faq">Click here</a>
    <hr>
    <h3 id="faq">FAQ</h3>
    <p>1111111111111111111</p>
    <p>2222222222222222222</p>
    <hr>
    <p>here is a list of ordered items:</p>
    <ol type="i">
        <li>first</li>
        <li>second</li>
        <li>third</li>
    </ol>
    <img src="/static/img/栗子头.ico" style="width:100px" alt="A picture">
</body>
</html>
